{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1C-разработчик</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
{% for nav in navigation %}


<header>
    <a href="/">
        <img class="logo" src="{{ nav.logo_field.url }}">
    </a>
    <img class="title_logo" src="{{ nav.logo.url }}">
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 2000px">
            <nav>
                <ul>
                    <li><a href="/">{{ nav.first_menu }}</a></li>
                    <li><a href={% url 'demend' %}>{{ nav.second_menu }}</a></li>
                    <li><a href={% url 'geography' %}>{{ nav.thierd_menu }}</a></li>
                    <li><a href={% url 'skills' %}>{{ nav.fourth_menu }}</a></li>
                    <li><a href={% url 'lastVacancy' %}>{{ nav.fifth_menu }}</a></li>
                </ul>
            </nav>
        </div>
        {% endfor %}
        <div class="home_text" style="font-size:20px; margin-top: 10px; margin-left:-400px">
{% for lv in last_vacancies %}
            <h1 style="font-style:italic">{{lv.title}}</h1>
            <div class="empty_skills"></div>
        </div>
        <div class="LVtable" style="margin-top:-40px">
            {% for i in vacs %}
            <h3 style="color: #D5FF2F">{{ i.name }}</h3>
            <p>Описание: {{ i.description }}</p>
            <p>Навыки: {{ i.key_skills }}</p>
            <p>Компания: {{ i.employer }}</p>
            <p>Зарплата: {{ i.salary }}</p>
            <p>Город: {{ i.area }}</p>
            <p>Дата публикации: {{ i.published_at }}</p>
            <a class="LVa" href={{ i.alternate_url }}>Ссылка: {{ i.alternate_url }}</a>
        {% endfor %}
        {% endfor %}

        </div>
    </div>
</main>
{% for navigator in navigation %}
<footer>
    <a href="https://vk.com/nadyazharkova">
        <div class="foot">{{ navigator.author }}</div>
        </a>
</footer>
{% endfor %}
</body>
</html>